---
apiVersion: v1
kind: Service
metadata:
  name: longhorn-frontend-nodeport
  namespace: {{ longhorn_namespace }}
  labels:
    app.kubernetes.io/name: longhorn
    app.kubernetes.io/component: ui-nodeport
spec:
  type: NodePort
  selector:
    app: longhorn-ui
  ports:
    - name: http
      port: 80
      targetPort: 8000
      nodePort: {{ longhorn_nodeport | int }}
      protocol: TCP
